@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  background-color: #002c75;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #002c75;
  border: 0.05px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
